# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
/target/
/cloud-provider-payment8001/target/
*.iml

/cloud-consumer-order80/target/classes/application.yml
/cloud-eureka-server7001/target/classes/application.yml
/cloud-eureka-server7002/target/classes/application.yml
/cloud-provider-payment8002/target/classes/application.yml
/cloud-consumerzk-order80/target/
/cloud-consumer-order80/target
/cloud-consumer-feign-order80/target
/cloud-consumer-feign-hystrix-order80/target
/cloud-consumer-hystrix-dashboard9001/target
